h1 {
  color: tomato;
  line-height: 10px;
}

h2 {
   color: white;
   font-size: 15px;
   line-height: 1px;
}

p {
  float: none;
  padding: 10% 1% 10% 1%;
  border-top: 2px dashed brown;
  color: tomato;
  border-radius: 5px;
  line-height: 30px;
  font-size: 20px;
  background-color: hsla(0, 100%, 90%, 0.2);
}

.full {
  padding: 10% 10% 10% 10%;
  background: orange;
  font-family: "Lucida Console", "Courier New", monospace;
}

.aside {
  opacity: 60%;
}

.images {
  float:right;
  padding: 1% 1% 1% 1%;
