h1 {
  color: tomato;
  line-height: 10px;
}

h2 {
   color: white;
   font-size: 15px;
   line-height: 1px;
}

p {
  padding: 1% 1% 1% 1%;
  border: 2px dotted brown;
  color: tomato;
  border-radius: 5px;
  line-height: 30px;
  font-size: 20px;
}

.note {
  padding: 10% 10% 10% 10%;
  background: orange;
  font-family: "Lucida Console", "Courier New", monospace;
}

.aside {
  opacity: 50%;
}
